<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:replace="partials/bootstrap_style :: stylesheets"></th:block>
</head>
<body>
<th:block th:replace="partials/bootstrap_style :: navbar"></th:block>

<div class="container">

    <h1 class="text-center">Login</h1>
    <div class="card mt-4" style="width: 100%;">
        <div class="card-body">
            <div class="text-danger" th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div class="text-danger" th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}" th:method="post">
                <label for="username">Username</label>
                <input class="form-control" name="username" id="username" type="text"/>
                <label for="password">Password</label>
                <input class="form-control" name="password" id="password" type="password"/>
                <button class="btn btn-primary mt-2" type="submit" value="Log In">Log
                    In</button>
            </form>
        </div>
    </div>
</div>


<th:block th:replace="partials/bootstrap_style :: scripts"></th:block>


</body>
</html>