<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:replace="partials/bootstrap_style :: stylesheets">

    </th:block>

</head>
<body>
    <th:block th:replace="partials/bootstrap_style :: navbar">

    </th:block>

    <h1 th:text='${"Hello World"}'></h1>

    <h3>Hello<span th:text='${"World"}'></span></h3>

    <h3>Greetings, <th:block th:text="${username}"></th:block></h3>

    <dvi th:each="number: ${numbers}">
          <li th:text="${number}"></li>
    </dvi>


    <th:block th:include="partials/bootstrap_style.html :: scripts">

    </th:block>

</body>
</html>